// Colors
$colorPrimary: #7ed56f;
$colorPrimaryLight: #55c57a;
$colorPrimaryDark: #28b485;

$colorGreyLight1: #f7f7f7;
$colorGreyLight2: #eee;

$colorSecondaryLight: #ffb900;
$colorSecondaryDark: #ff7730;

$colorTertiaryLight: #2998ff;
$colorTertiaryDark: #5643fa;

// Font colors
$colorGreyDark: #777;
$colorGreyDark2: #999;
$colorGreyDark3: #333;
$colorWhite: #fff;
$colorBlack: #000;

// Font sizes
$fontSizeRegular: 1.6rem;

// Grid
$gridWidth: 114rem;
$gutterVertical: 8rem;
$gutterVerticalSmall: 6rem;
$gutterHorizontal: 8rem;
